// Colors
// -------------------------

$primary-color: #0075D0; // Blue
$secondary-color: #009AD1;
$dark-bg: #101010;
$lite-bg: #DDDDDD;

$success-color: #88EC4D; // Green
$alert-color: #F91C1C; // Red
$fade-cold: #01B4E3; // Light Blue

// Text
$lite-text: #F5F5F5;
$gray-text: #999999;

// States
$hover-state: #00B0DD;
$active-state: #00B0DD;

