// Config
// --------------------------------

// Gauge
$gauge-size: 495px;
$gauge-border: $gauge-size / 9;
$gauge-item-height: $gauge-size / 19.28;
$gauge-item-width: $gauge-item-height / 5;
$needle-width: 3px;


// Progress bar
$progress-bar-lines: 100;
