// Typography
// --------------------------------

// Fonts
// -------------------------
// $baseFontFamily: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$liteFontFamily: "din_otlight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$regFontFamily: "din_otmedium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$boldFontFamily: "din_otbold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font-Weight
// -------------------------
$weightNormal: 400;
$weightBold: 600;

// Font Path
$FontPath: "../fonts" !default;
